@import 'https://fonts.googleapis.com/css?family=Exo+2';
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

:root {

    --logo-initial-width: 75px;
    --logo-initial-height: 75px; 
    --logo-initial-positionY: 50px;

    --logo-final-width: 75px;
    --logo-final-height: 75px;
    --logo-final-positionY:5px;

    --asset-width:350px;
    --asset-height: 400px;

    --animation-timer-logo-intro:1s;
    --animation-timer-logo-intro-duration:0.5s;
    --animation-timer-title-intro:1.5s;
    --animation-timer-title-intro-duration:0.5s;
    --animation-timer-logo-outro:2.5s;
    --animation-timer-logo-outro-duration:0.5s;
    --animation-timer-title-outro:2.0s;
    --animation-timer-title-outro-duration:1.0s;
    --animation-timer-header-bg-path-duration: 1.5s;
    --animation-timer-main-intro: 4.5s;
    
    --bg-color-gradient-primary: #300919; /*48, 9, 25*/
    --bg-color-gradient-secondary: #070f1f; /*7, 15, 31*/

    --neon-color-100: #ff1d88ff; /* 1.0 */
    --neon-color-80: #ff1d88cc; /* 0.8 */
    --neon-color-40: #ff1d8866; /* 0.4 */
    --neon-color-10: #ff1d881a; /*0.1*/

    --neon-link-hover-color: #f05b99;

    --hue-rotate-deg: -30deg;
}

*, *:before, *:after  {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}



body {
    background-color: var(--bg-color-gradient-primary);
    background-image: linear-gradient(var(--bg-color-gradient-primary), var(--bg-color-gradient-secondary));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg-scanline {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-image: url("scanline.png");
    /* opacity: 1; */
    /* animation: 1s vscan linear infinite; */
}

@keyframes vscan {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-8px);
    }
}

/* ============================================================================= */
/*                                      HEADER                                   */
/* ============================================================================= */

header {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    z-index: 99;
    
    height: 85px;
    width: 2200px;
}

.header-bg-svg-path, .header-bg-svg-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
}

.header-bg-svg-path {
    /* filter: drop-shadow(0 0 4px var(--neon-color-80)) drop-shadow(0 0 2px var(--neon-color-100)) drop-shadow(0 0 10px var(--neon-color-80)); */
    stroke-width: 2;
    stroke:var(--neon-color-80);
    stroke-dasharray: 1100;
    stroke-dashoffset: 1200;
    
    animation: header-bg-draw var(--animation-timer-header-bg-path-duration) ease-in-out calc(var(--animation-timer-logo-outro) + var(--animation-timer-logo-outro-duration));
    animation-fill-mode: forwards;
}

.header-bg-svg-fill {
    stroke: none;
    fill: var(--bg-color-gradient-primary);
    z-index: -1;
    opacity: 0;
    
    animation: header-bg-fill 0.5s ease-in-out calc(var(--animation-timer-logo-outro) + var(--animation-timer-logo-outro-duration) + var(--animation-timer-header-bg-path-duration));
    animation-fill-mode: forwards;
}

@keyframes header-bg-draw {
    0% {
      stroke-dashoffset: 1200;
    }
    45% {
      stroke-dashoffset: 750;
    }
    65% {
      stroke-dashoffset: 705;
    }
    85% {
      stroke-dashoffset: 145;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

@keyframes header-bg-fill {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}

/* ============================================================================= */
/*                                      NAV                                      */
/* ============================================================================= */

.header-left, .header-right {
    width: 350px;
    position: fixed;
    top: 0;
    left: calc(50%);
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 1em;
}

.header-left {
    transform: translate(-100%, calc( calc(var(--logo-final-height) / 4) - 2px));
}

.header-right {
    text-align: right;
    transform: translate(0%, calc( calc(var(--logo-final-height) / 4) - 2px));
}

.header-left a, .header-right a {
    width: 150px;
    height: 32px;
    display: inline-block;
    position: relative;

    border: 2px solid transparent;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--neon-color-80);
    text-transform: uppercase;
    opacity: 0;
}
.header-left div, .header-right div {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    transition: all 0.3s;
}

.header-left div:first-child, .header-right div:first-child {
    opacity: 1;
    transform: translateY(0);
}
.header-left div:last-child, .header-right div:last-child {
    opacity: 0;
    transform: translateY(-10px);
    font-size: 0.9em;
    line-height: 1.2em;
}

.header-left a:hover div:first-child, .header-right a:hover div:first-child {
    opacity: 0;
    transform: translateY(-10px);
}
.header-left a:hover div:last-child, .header-right a:hover div:last-child {
    opacity: 1;
    transform: translateY(0);
}

.header-left a:hover, .header-right a:hover {
    border-bottom: 2px solid var(--neon-link-hover-color);
    box-shadow: 0 15px 20px -10px var(--neon-color-80), 0 12px 5px -10px var(--neon-color-80);
    color: var(--neon-link-hover-color);
    text-shadow: 0 0 15px var(--neon-color-80);
}

.header-left a:nth-child(1) {
    animation: header-nav-button-intro 0.5s ease-in-out calc(var(--animation-timer-logo-outro) + var(--animation-timer-logo-outro-duration) + 0.3s);
    animation-fill-mode: forwards;
}
.header-left a:nth-child(2) {
    animation: header-nav-button-intro 0.5s ease-in-out calc(var(--animation-timer-logo-outro) + var(--animation-timer-logo-outro-duration) + 0.4s);
    animation-fill-mode: forwards;
}
.header-right a:nth-child(1) {
    animation: header-nav-button-intro 0.5s ease-in-out calc(var(--animation-timer-logo-outro) + var(--animation-timer-logo-outro-duration) + 0.5s);
    animation-fill-mode: forwards;
}
.header-right a:nth-child(2) {
    animation: header-nav-button-intro 0.5s ease-in-out calc(var(--animation-timer-logo-outro) + var(--animation-timer-logo-outro-duration) + 0.6s);
    animation-fill-mode: forwards;
}

@keyframes header-nav-button-intro {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* ============================================================================= */
/*                                      LOGO                                     */
/* ============================================================================= */

.logo {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translate(-50%, var(--logo-initial-positionY));

    width: var(--logo-initial-width);
    height: var(--logo-initial-height); 

    animation: intro-logo var(--animation-timer-logo-intro-duration) ease-in-out var(--animation-timer-logo-intro), move-logo var(--animation-timer-logo-outro-duration) ease-in-out var(--animation-timer-logo-outro); 
    animation-fill-mode: forwards;
    opacity: 0;
    transition: all 0.5s;
    z-index: 9999;
}

.logo:after {
    position: absolute;
    top: 52%;
    left: 50%;
    height: 90%;
    width: 90%;
    transform: translate(-50%, -50%);

    content: '';
    background-image: url("LogoRed512px.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: hue-rotate(var(--hue-rotate-deg));
}

.logo::before {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;

    content: '';
    background: var(--bg-color-gradient-primary);
    border-radius: 50%;
    border: 2px solid var(--neon-color-80);
    /* box-shadow: 0 0 8px var(--neon-color-80), 0 0 25px var(--neon-color-100), inset 0 0 8px var(--neon-color-40), inset 0 0 25px var(--neon-color-80); */
}

@keyframes intro-logo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes move-logo {
    100% {
        width: var(--logo-final-width);
        height: var(--logo-final-height);
        transform: translate(-50%, var(--logo-final-positionY));
    }
}

.header-logo:hover {
    animation: logo-hover-loop 1s ease-in-out alternate infinite;
}

@keyframes logo-hover-loop {
    0% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(1.4);
    }
}

/* ============================================================================= */
/*                                      TITLE                                    */
/* ============================================================================= */

.title-l, .title-r {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
    position: fixed;
    top: 58px;

    color: var(--neon-color-80);
    /* text-shadow: 0 0 10px var(--neon-color-80); */
    pointer-events: none;
    
    opacity: 0;

    transition: all 0.3s;
}

.title-l {
    left: 50%;
    transform: translate(-100%, 0);
    padding-right: calc(var(--logo-final-width) /1.67);
}
    
.title-r {
    right: 50%;
    transform: translate(100%, 0);
    padding-left: calc(var(--logo-final-width) /1.70);
}

.header-logo:hover .title-l, .header-logo:hover .title-r {
    opacity: 1;
}

/* =============================== TITLE INTRO ================================= */

.title-r-intro, .title-l-intro {
    font-family: 'Exo 2', sans-serif;
    font-size: 2.6em;
    text-transform: uppercase;
    position: fixed;
    top: calc(var(--logo-initial-positionY) + 18px);

    color: var(--neon-color-80);
    text-shadow: 0 0 10px var(--neon-color-80);
    pointer-events: none;

    opacity: 0;

    animation: title-intro var(--animation-timer-title-intro-duration) ease-in-out var(--animation-timer-title-intro), title-outro var(--animation-timer-logo-outro-duration) ease-in-out var(--animation-timer-logo-outro);
    animation-fill-mode: forwards;
}

.title-l-intro {
    left: 50%;
    transform: translate(-100%, 0);
    padding-right: calc(var(--logo-final-width) /1.3);
}

.title-r-intro {
    right: 50%;
    transform: translate(100%, 0);
    padding-left: calc(var(--logo-final-width) /1.3);
    letter-spacing: 0.015em;
}

@keyframes title-intro {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes title-outro {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}


/* ============================================================================= */
/*                                      MAIN                                     */
/* ============================================================================= */

main {

        width: 90%;
        max-width: 1160px;
        margin: calc(var(--logo-final-height) * 1.5) auto;
         
        display: grid;
         
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 0;

    /* position: relative;
    padding: 0;
    margin: 0 auto;
    transform: translateY(calc(var(--logo-final-height) * 1.5));
    max-width: 1160px; */

    background-color: var(--neon-color-10);
    box-shadow: 0 0 30px 10px var(--neon-color-10);/*#66c3*/
    
    border: 1px solid var(--neon-color-40);
    /* opacity: 0; */
    overflow: hidden;
    height: 30px;
    transition: all 0.5s;
    animation: 0.5s main-fadein ease-in-out var(--animation-timer-main-intro);
    animation-fill-mode: forwards;
}

@media only screen and (min-width: 1160px) {
    main {
      grid-template-columns: [terminal-start] 1fr 1fr 1fr [terminal-end];
    }  
  }

@keyframes main-fadein {
    0% {
        /* opacity: 0; */
        height: 30px;
    }
    99% {
        height: 100vh;
    }
    100% {
        /* opacity: 1; */
        height: 100%;
    }
}



.console {
    padding: 5px 0 20px 10px;
    color: var(--neon-color-40);
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 1em;
}

.console-full {
    grid-column-start: terminal-start;
    grid-column-end: terminal-end;
}
    

/* ============================================================================= */
/*                                      ASSET                                    */
/* ============================================================================= */


.asset {
    display: flex;
    flex-direction: column;
    position: relative;
    width: var(--asset-width);
    height: calc(var(--asset-height) + 65px);
    align-self: center;
    justify-self: center;
    /* background-color: #f00a;  */
  }

.asset-bg {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    width: var(--asset-width);
    height: var(--asset-height);
    background-color: #231921CC;
    /* background-color: #fff; */
    border-radius: 2px;
    border: 2px solid var(--neon-color-80);
    /* box-shadow: inset 0 0 25px 1px var(--neon-color-40); */
}

/* ================================= BUTTONS =================================== */

.asset-buttons {
    margin-top:auto;
    align-self: flex-end;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.asset-buttons-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.asset-buttons-center {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.asset-buttons-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.asset-button {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: relative;
    flex: 1;
    text-decoration: none;
    transition: all 0.3s;
    opacity: 0.8;
}

.asset-buttons-right .asset-button {
    margin-right: 35px;
}

.asset-buttons-left .asset-button {
    margin-left: 35px;
}

.icon-bg-svg {
    height: 55px;
    width: 60px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    stroke:var(--neon-color-80);
    fill: #000A;
    stroke-width:2;
}

.unity-icon {
    height: 38px;
    width: 38px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-57%, -51%);
    stroke:var(--neon-color-80);
    opacity:1;
    stroke-width:2;
}

.asset-button-store {
    flex: 1;
}

/* =============================== ARROWS ================================= */

.arrows-l, .arrows-r {
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    color: var(--neon-color-80);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
}

.arrows-l {
    justify-content: flex-end;
}

.arrows-r {
    justify-content: flex-start;
}

.arrow-l, .arrow-r {
    border-style: solid;
	border-width: 2px 2px 0 0;
	display: inline-block;
    height: 20px;
    width: 20px;
	position: relative;
    top: -10px;
    filter: drop-shadow(0 0 3px var(--neon-color-100));
}

.arrow-l {
    margin-right: -5px;
    transform: scaleX(0.8) rotate(45deg);
}
.arrow-r {
    margin-left: -5px;
    transform: scaleX(0.8) rotate(-135deg);
}

.asset-buttons-center .arrow-l {
    margin-right: -10px;
}

.asset-buttons-center .arrow-r {
    margin-left: -10px;
}

.asset-button-store:hover {

}

/* =============================== LABELS ================================= */

.buy-label {
    height: 28px;
    text-align: center;
    position: relative;
    align-self: center;
    justify-self: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 0.95em;
    text-transform: uppercase;
    color: var(--neon-color-80);  
    line-height: 20px;
    padding: 2px 5px;
    border-top: 1px solid var(--neon-color-80);
    z-index: 0;
    filter: drop-shadow(0 0 4px var(--neon-color-80));
}

.buy-label-center {
    height: 50px;
    text-align: center;
    position: relative;
    align-self: center;
    justify-self: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    color: var(--neon-color-80);  
    line-height: 21px;
    padding: 2px 0px;
    border-top: 1px solid var(--neon-color-80);
    border-bottom: 1px solid var(--neon-color-80); 
    z-index: 0;
    filter: drop-shadow(0 0 4px var(--neon-color-80));
    margin-bottom: 18px;
    width: 30px;
}

/* =============================== IMAGES ================================= */

.asset-image {
    /* filter: drop-shadow(0px 0px 6px #111d); */
    position: absolute;
}

.img-top-container {
    position: absolute;
    top: -3px;
    left: -3px;
    overflow: hidden;
    height: 342px;
    transition: all 0.5s ease-in-out;
}

.img-bottom-container {
    position: absolute;
    bottom: -398px;
    left: -3px;
    overflow: hidden;
    height: 80px;
    transition: all 0.6s ease-in-out;
}

.asset-image img {
    width: calc(var(--asset-width) + 2px);
    height: calc(var(--asset-height) + 2px);
    object-fit: cover;
    transform: translateY(0px);
}

.one-button .img-top {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 80% 80%, 75% 85%, 25% 85%, 20% 80%, 0% 80%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 80% 80%, 75% 85%, 25% 85%, 20% 80%, 0% 80%);

}
.one-button .img-bottom {
    -webkit-clip-path: polygon(0% 100%, 0% 80%, 20% 80%, 25% 85%, 75% 85%, 80% 80%, 100% 80%, 100% 100%);
    clip-path: polygon(0% 100%, 0% 80%, 20% 80%, 25% 85%, 75% 85%, 80% 80%, 100% 80%, 100% 100%);
    margin-top: -321px;
}

.two-buttons .img-top {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 95% 80%, 90% 85%, 65% 85%, 60% 80%, 40% 80%, 35% 85%, 10% 85%, 5% 80%, 0% 80%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 95% 80%, 90% 85%, 65% 85%, 60% 80%, 40% 80%, 35% 85%, 10% 85%, 5% 80%, 0% 80%);
}
.two-buttons .img-bottom {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 80%, 95% 80%, 90% 85%, 65% 85%, 60% 80%, 40% 80%, 35% 85%, 10% 85%, 5% 80%, 0% 80%);
    clip-path: polygon(0% 100%, 100% 100%, 100% 80%, 95% 80%, 90% 85%, 65% 85%, 60% 80%, 40% 80%, 35% 85%, 10% 85%, 5% 80%, 0% 80%);
    margin-top: -321px;
}

.asset:hover .img-top-container {
    transform: translateY(-75px);
}

.asset:hover .img-bottom-container {
    transform: translateY(55px);
}




.asset-button:hover .arrows-l2 div:nth-child(1) {
    animation: 1s arrow-animation ease-in-out 0.0s infinite;
}
.asset-button:hover .arrows-l2 div:nth-child(2) {
    animation: 1s arrow-animation ease-in-out 0.1s infinite;
}
.asset-button:hover .arrows-l2 div:nth-child(3) {
    animation: 1s arrow-animation ease-in-out 0.2s infinite;
}
.asset-button:hover .arrows-l2 div:nth-child(4) {
    animation: 1s arrow-animation ease-in-out 0.3s infinite;
}

.asset-button:hover .arrows-r2 div:nth-child(4) {
    animation: 1s arrow-animation ease-in-out 0.0s infinite;
}
.asset-button:hover .arrows-r2 div:nth-child(3) {
    animation: 1s arrow-animation ease-in-out 0.1s infinite;
}
.asset-button:hover .arrows-r2 div:nth-child(2) {
    animation: 1s arrow-animation ease-in-out 0.2s infinite;
}
.asset-button:hover .arrows-r2 div:nth-child(1) {
    animation: 1s arrow-animation ease-in-out 0.3s infinite;
}

@keyframes arrow-animation {
    0% {
        filter: drop-shadow(0 0 3px var(--neon-color-100));
        color: var(--neon-color-40);
    }
    60% {
        filter: drop-shadow(0 0 2px var(--neon-color-100)) drop-shadow(0 0 5px var(--neon-color-100));
        color: var(--neon-color-100);
    }
    100% {
        filter: drop-shadow(0 0 3px var(--neon-color-100));
        color: var(--neon-color-40);
    }
}

.asset-name {
    height: 40px;
    position: absolute;
    bottom: 22px;
    line-height: 40px;
    color: var(--neon-color-80);
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 1em; 
    /* text-shadow: 0 0 3px var(--neon-color-40); */
}

.asset-name p:before {
    content: '> ./';
}
.asset-name p:after {
    content: '';
    /* content: '_'; */
    /* animation: 1s cursor ease-in-out infinite; */
}




.arrows-l2, .arrows-r2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    color: var(--neon-color-40);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
}

.arrows-l2 {
    justify-content: flex-end;
    position: absolute;
    left: -75px;
}

.arrows-r2 {
    justify-content: flex-start;
    position: absolute;
    right: -75px;
}

.arrow-l2, .arrow-r2 {
    border-style: solid;
	border-width: 2px 2px 0 0;
	display: inline-block;
    height: 20px;
    width: 20px;
	position: relative;
    top: -10px;
    filter: drop-shadow(0 0 3px var(--neon-color-100));
}

.arrow-l2 {
    margin-right: -5px;
    transform: scaleX(0.8) rotate(45deg);
}
.arrow-r2 {
    margin-left: -5px;
    transform: scaleX(0.8) rotate(-135deg);
}




.arrows-l3, .arrows-r3 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    color: var(--neon-color-40);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
}

.arrows-l3 {
    justify-content: flex-end;
    position: absolute;
    left: -36px;
}

.arrows-r3 {
    justify-content: flex-start;
    position: absolute;
    right: -36px;
}

.arrow-l3, .arrow-r3 {
    border-style: solid;
	border-width: 2px 2px 0 0;
	display: inline-block;
    height: 20px;
    width: 20px;
	position: relative;
    top: -10px;
    filter: drop-shadow(0 0 3px var(--neon-color-100));
}

.arrow-l3 {
    margin-right: -10px;
    transform: scaleX(0.8) rotate(45deg);
}
.arrow-r3 {
    margin-left: -10px;
    transform: scaleX(0.8) rotate(-135deg);
}

.asset-button:hover .arrows-l3 div:nth-child(1) {
    animation: 1s arrow-animation ease-in-out 0.0s infinite;
}
.asset-button:hover .arrows-l3 div:nth-child(2) {
    animation: 1s arrow-animation ease-in-out 0.1s infinite;
}
.asset-button:hover .arrows-r3 div:nth-child(2) {
    animation: 1s arrow-animation ease-in-out 0.0s infinite;
}
.asset-button:hover .arrows-r3 div:nth-child(1) {
    animation: 1s arrow-animation ease-in-out 0.1s infinite;
}

.asset-button:hover {
    /* animation: 2s asset-button-hover ease-in-out infinite; */
    filter: drop-shadow(0 0 2px var(--neon-color-40));
    opacity: 1;
}

/* @keyframes asset-button-hover {
    0% {
        filter: drop-shadow(0 0 0px transparent);
        opacity: 0.8;
    }
    50% {
        filter: drop-shadow(0 0 2px var(--neon-color-40));
        opacity: 1;
    }
    100% {
        filter: drop-shadow(0 0 0px  transparent);
        opacity: 0.8;
    }
} */

.asset {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.asset-buttons, .asset-bg {
    transition: visibility 0.7s;
    visibility: hidden;
}

.asset:hover .asset-buttons, .asset:hover .asset-bg {
    transition: visibility 0s;
    visibility: visible;
}

.asset-image {
    top: 2px;
    left: 2px;
}

.inview {
    visibility: visible;
    opacity: 1;
}